@model NS.FoodOrder.Data.CustomEntities.AddEditCategoryViewModel
@{
    Layout="_Layout";
}
<h2 class="text-center">Add new Category</h2>
@using (Html.BeginForm("AddEditCategory", "Home", FormMethod.Post, new {id="formRegistration",enctype="multipart/form-data"}))
{
<div class="form-group">
   <label for="First Name" class="col-md-3 control-label">Category</label>
    <div class="col-md-9">
      @Html.HiddenFor(x=>x.Id)
      @Html.TextBoxFor(x =>x.Name, "", new { @class = "form-control", placeholder = "Enter the category" })
      @Html.ValidationMessageFor(x => x.Name,"",new{@class="text-danger"})
   </div>
</div>
<br/>


<div class="col-md-offset-3 col-md-9">
   <button id="btn-signup" type="submit" class="btn btn-info"><i class="icon-hand-right"></i>Submit</button>
   <span style="margin-left:8px;"></span>
</div>
}