@model IEnumerable<NS.FoodOrder.Data.Entities.Product>;

@{
  Layout = "_LayoutMenu";
}
<section class="food_section layout_padding">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>
        Our Menu
      </h2>
    </div>

    @{
      var category = Model.Where(x => x.Category.IsActive == true).Select(x
      => new { x.Category.Name, x.Category.Id }).Distinct().ToList();
    }
    <ul class="filters_menu">
      <li class="active" data-filter="*" onclick="LoadMenu(0)" data-id="0">All</li>
      @foreach (var item in category)
      {
        <li data-filter=".pizza" onclick="LoadMenu('@item.Id')" data-id="@item.Id">@item.Name</li>
      }

    </ul>

    <div class="filters-content">
      <div id="dvUserdetails">
      </div>

    </div>
  </div>
</section>
@section Scripts{
  <script>
    function LoadMenu(categoryId) {
      $.ajax({
        url: '/Product/Details?categoryId=' + categoryId,
        type: 'GET',
        dataType: 'html',
        success: function (result) {
          $('#dvUserdetails').html(result);
        }
      });
    }
    $(function () {
      LoadMenu(0);
    });
  </script>
}